.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(44, 62, 80, 0.1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
}

.footer.hovered {
  background-color: var(--primary-color);
}

.footer.hovered p {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .footer {
    padding: 0.8rem;
  }
  
  .footer p {
    font-size: 0.8rem;
  }
}